{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<title>Cambiar Clave</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
	
	<link rel="stylesheet" href="{% static '/materialize/css/materialize.min.css' %}" media="screen,projection">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static '/style.css' %}">


</head>
<body>

	  <div class="col m12 s12 x12 navbar-fixed">
		<nav>
			<span class="left brand-logo text-darken-2">
			<i onclick="Materialize.showStaggeredList('#slide-out')" id="btnMenu" data-activates="slide-out" class="deslizar icono-menu fa fa-bars fa-2x "></i>
			</span>	
			<h4 class="center-align "> <span class="hide-on-small-only">Cambiar</span> Contraseña</h4>
		</nav>
	</div>
		
  <ul id="slide-out" class="side-nav ">
      <li>  
        <i class="iconos-pequeno prefix fa fa-user-o fa-2x"></i>        
      </li>
      <!-- <li>
          <div class="divider"></div>
        </li> -->  
    <li class=" ">
      <a href="/" class="btn"><i class="iconos-pequeno fa fa-home fa-1x" ></i> Inicio</a>
    </li>
    <li>
      <a href="/persona" class="btn"><i class="iconos-pequeno fa fa-user fa-1x" ></i> Agregar Personas </a> 
    </li>
    <li class=" ">
      <a href="/asignacion" class="btn"><i class="iconos-pequeno fa fa-desktop fa-1x" ></i> Equipos Asignados</a>
    </li>
    <li class=" ">
      <a href="/password" class="active-btn btn"><i class="iconos-pequeno fa fa-key fa-1x" ></i> Cambiar Contraseña</a>
    </li>
    <li class=" ">
      <a href="" class="btn"><i class="iconos-pequeno fa fa-cog fa-1x" ></i> Opciones</a>
    </li>
    <li class=" " >
      <a href="" class="btn"><i class="iconos-pequeno fa fa-power-off fa-1x" ></i> Cerrar Sección</a>
    </li>
  </ul>

<div class="container ">
	<div class=" row">
		<div class=" box1 col m6 offset-m3 s12 x12">    
			<form action="" method="POST">{% csrf_token %}

			    <!--   Codigo   -->
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="pass_ant" name="pass_last" type="text" required> 
			        <label for="pass_ant" class="active">Contraseña Anterior</label>
			    </div>

			    <!--  Descripción  -->
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="pass_nue" name="pass_new" type="password" required> 
			        <label for="pass_nue" class="active">Contraseña Nueva</label>
			    </div>

			    <!--  Usuario  -->    
			    <div class="input-field">    
			        <i class="prefix fa fa-key fa-3x"></i>
			        <input id="rep_pass" name="rep_pass" type="password" required> 
			        <label for="rep_pass" class="active">Confirmar Nueva Contraseña</label>
			    </div>

			    <!--   Boton   --> 
			    <div class=" center group navform wat-cf">
			        <button class="boton-guardar-contrasena hoverable waves-effect" type="submit">Guardar Cambios</button>
			    </div>                        
			</form>
		</div>
	</div>
</div>

	<script src="{% static '/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static '/materialize/js/materialize.min.js' %}"></script>
	<script src="{% static '/style.js' %}"></script>
</body>
</html>